<h1>Listing qualificas</h1>

<table>
  <thead>
    <tr>
      <th>Qualifica</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @qualificas.each do |qualifica| %>
      <tr>
        <td><%= qualifica.qualifica %></td>
        <td><%= qualifica.user %></td>
        <td><%= link_to 'Show', qualifica %></td>
        <td><%= link_to 'Edit', edit_qualifica_path(qualifica) %></td>
        <td><%= link_to 'Destroy', qualifica, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Qualifica', new_qualifica_path %>
