<p id="notice"><%= notice %></p>

<p>
  <strong>Qualifica:</strong>
  <%= @qualifica.qualifica %>
</p>

<p>
  <strong>User:</strong>
  <%= @qualifica.user %>
</p>

<%= link_to 'Edit', edit_qualifica_path(@qualifica) %> |
<%= link_to 'Back', qualificas_path %>
