<%= simple_form_for(@ruoli) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :ruolo %>
    <%= f.association :user %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
