<%- model_class = Ruoli -%>
<div class="page-header">
  <h1><%=t '.title', :default => Ruoli %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:ruolo) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @ruolis.each do |ruoli| %>
      <tr>
        <td><%= ruoli.id %></td>
        <td><%= ruoli.ruolo %></td>
        <td><%=l ruoli.created_at, format: :long %></td>
        <td>
          <%= link_to ruoli_path(ruoli), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to ruoli_path(ruoli), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_ruoli_path,
            :class => 'btn btn-primary' %>
