<p id="notice"><%= notice %></p>

<p>
  <strong>Ruolo:</strong>
  <%= @ruoli.ruolo %>
</p>

<p>
  <strong>User:</strong>
  <%= @ruoli.user %>
</p>

<%= link_to 'Edit', edit_ruoli_path(@ruoli) %> |
<%= link_to 'Back', ruolis_path %>
